@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* default CSS */
* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: 'Noto Sans KR', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #000000;
	letter-spacing: -0.7px;
	-webkit-font-smoothing: antialiased;
}
a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}
a:active {
	color: #ffffff;
	text-decoration: none;
}
a:focus {
	color: #ffffff;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
/* default CSS */

/* CSS */
.line {
	text-align: center;
	position: relative;
}
.line svg {
	height: 100%;
}