@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* default CSS */
* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: 'Noto Sans KR', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #000000;
	letter-spacing: -0.7px;
	-webkit-font-smoothing: antialiased;
}
a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}
a:active {
	color: #ffffff;
	text-decoration: none;
}
a:focus {
	color: #ffffff;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
/* default CSS */

/* CSS */
.intro_wrap {
	background: linear-gradient(-45deg, #87f252, #00aeff, #87f252, #00aeff);
	background-size: 400% 400%;
	-webkit-animation: gradi 15s ease infinite;
	-moz-animation: gradi 15s ease infinite;
	animation: gradi 15s ease infinite;
}
@-webkit-keyframes gradi {
 0% {
background-position: 0% 50%
}
 50% {
background-position: 100% 50%
}
 100% {
background-position: 0% 50%
}
}
@-moz-keyframes gradi {
 0% {
background-position: 0% 50%
}
 50% {
background-position: 100% 50%
}
 100% {
background-position: 0% 50%
}
}
@keyframes gradi {
 0% {
background-position: 0% 50%
}
 50% {
background-position: 100% 50%
}
 100% {
background-position: 0% 50%
}
}
.intro_wrap .container {
	text-align: center;
	position: relative;
}
.intro_wrap .container .btn {
	position: absolute;
	z-index: 5;
	display: block;
	width: 51px;
	height: 50px;
	left: 50%;
	top: 0;
	border-radius: 100%;
	margin-left: -25px;
	cursor: pointer;
}
.intro_wrap .container .sign {
	position: relative;
	z-index: 4;
	width: 51px;
	height: 50px;
	border-radius: 100%;
	-webkit-filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));
	filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));
}
.shake {
	animation-name: shake;
	animation-duration: 100ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 1s;
}
@keyframes shake {
 0% {
transform: translate(0px, 0px) rotate(0deg);
}
 2% {
transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
}
 4% {
transform: translate(1.5px, 0.5px) rotate(0.5deg);
}
 6% {
transform: translate(1.5px, -0.5px) rotate(0.5deg);
}
 8% {
transform: translate(-0.5px, 1.5px) rotate(-1.5deg);
}
 10% {
transform: translate(0.5px, 0.5px) rotate(0.5deg);
}
 12% {
transform: translate(1.5px, -2.5px) rotate(-0.5deg);
}
 14% {
transform: translate(1.5px, -0.5px) rotate(0.5deg);
}
 16% {
transform: translate(-1.5px, -2.5px) rotate(0.5deg);
}
 18% {
transform: translate(0.5px, -2.5px) rotate(-0.5deg);
}
 20% {
transform: translate(-2.5px, -2.5px) rotate(0.5deg);
}
 22% {
transform: translate(-0.5px, -1.5px) rotate(0.5deg);
}
 24% {
transform: translate(-1.5px, -2.5px) rotate(-1.5deg);
}
 26% {
transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
}
 28% {
transform: translate(0.5px, 1.5px) rotate(-1.5deg);
}
 30% {
transform: translate(-0.5px, 1.5px) rotate(0.5deg);
}
 32% {
transform: translate(-1.5px, 0.5px) rotate(0.5deg);
}
 34% {
transform: translate(-2.5px, 1.5px) rotate(0.5deg);
}
 36% {
transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
}
 38% {
transform: translate(0.5px, 1.5px) rotate(-0.5deg);
}
 40% {
transform: translate(1.5px, -1.5px) rotate(-0.5deg);
}
 42% {
transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
}
 44% {
transform: translate(1.5px, 1.5px) rotate(0.5deg);
}
 46% {
transform: translate(0.5px, -1.5px) rotate(0.5deg);
}
 48% {
transform: translate(-1.5px, 0.5px) rotate(-1.5deg);
}
 50% {
transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
}
 52% {
transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
}
 54% {
transform: translate(-1.5px, 1.5px) rotate(0.5deg);
}
 56% {
transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
}
 58% {
transform: translate(1.5px, 0.5px) rotate(-0.5deg);
}
 60% {
transform: translate(1.5px, 0.5px) rotate(-0.5deg);
}
 62% {
transform: translate(-1.5px, -1.5px) rotate(0.5deg);
}
 64% {
transform: translate(1.5px, 0.5px) rotate(-1.5deg);
}
 66% {
transform: translate(1.5px, -0.5px) rotate(0.5deg);
}
 68% {
transform: translate(0.5px, -2.5px) rotate(-1.5deg);
}
 70% {
transform: translate(0.5px, -2.5px) rotate(-1.5deg);
}
 72% {
transform: translate(1.5px, -1.5px) rotate(0.5deg);
}
 74% {
transform: translate(1.5px, -0.5px) rotate(0.5deg);
}
 76% {
transform: translate(1.5px, -1.5px) rotate(-0.5deg);
}
 78% {
transform: translate(1.5px, -1.5px) rotate(-1.5deg);
}
 80% {
transform: translate(-2.5px, -1.5px) rotate(-1.5deg);
}
 82% {
transform: translate(1.5px, -2.5px) rotate(-0.5deg);
}
 84% {
transform: translate(1.5px, -2.5px) rotate(-0.5deg);
}
 86% {
transform: translate(1.5px, 0.5px) rotate(0.5deg);
}
 88% {
transform: translate(-2.5px, 0.5px) rotate(-1.5deg);
}
 90% {
transform: translate(0.5px, 1.5px) rotate(0.5deg);
}
 92% {
transform: translate(-1.5px, 1.5px) rotate(0.5deg);
}
 94% {
transform: translate(-0.5px, 0.5px) rotate(-1.5deg);
}
 96% {
transform: translate(1.5px, -2.5px) rotate(0.5deg);
}
 98% {
transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
}
}
.instructions {
	position: absolute;
	width: 100%;
	margin: auto;
	margin-top: 10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: .9em;
	text-align : center;
	line-height : 1.0;
	animation: fade 5s ease none;
}
@keyframes fade {
 0%, 15% {
opacity: 0
}
 45%, 100% {
opacity: 1
}
}
.sub_instructions {
	line-height: 2em;
	color: #ffffff;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: .8em;
	opacity: 0.5;
}
/*.intro_wrap .scrolldown {
	top: 30px;
	left: 20px;
	position: absolute;
	color: #ffffff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1px;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}
.scrolldown .scroller {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 1.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}
@keyframes scroll {
 0% {
opacity: 0;
}
 5% {
transform: translateY(0);
opacity: 1;
}
 100% {
transform: translateY(75px);
opacity: 0;
}
}*/
#mouse_scroll {
	position: absolute;
	width: 100%;
	bottom: 50px;
	animation: fade 20s ease none;
}
#mouse_scroll .mouse {
	width: 20px;
	height: 35px;
	margin: 0 auto;
	border-radius: 25px;
	border: 2px solid #ffffff;
}
#mouse_scroll .mouse_in {
	width: 3px;
	height: 3px;
	border-radius: 50px;
	display: block;
	margin: 5px auto;
	background: #ffffff;
	position: relative;
}
#mouse_scroll .mouse_in {
	-webkit-animation: mouse 1.2s ease infinite;
	moz-animation: mouse 1.2s ease infinite;
}
 @-webkit-keyframes mouse {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(20px);
 -ms-transform: translateY(20px);
 transform: translateY(20px);
}
}
.name_wrap {
	z-index: 1;
	background: #000000;
	position: relative;
}
.name_wrap .container {
	z-index: 2;
	color: #ffffff;
	text-align: center;
}
.name_wrap .container h1 {
	font-size: 35px;
	font-weight: 700;
	line-height: 38px;
	margin-bottom: 20px;
	background-image: linear-gradient(to left, #ffc3ca, #a8a9e7, #ffc3ca);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: bg 50s linear infinite;
}
@keyframes bg {
 0% {
background-position-x: 0;
}
 100% {
background-position-x: 10000px;
}
}
.name_wrap .container h2 {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 20px;
	line-height: 20px;
}
.name_wrap .container p {
	font-size: 12px;
	font-weight: 100;
	line-height: 20px;
}
.svg_box {
	pointer-events: none; /* 스크롤 */
	z-index: -1;
	position: absolute;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
}
.bigs_gate_particle {
	width: 100%;
	height: 100%;
	position: relative;
	left: -50%;
	transform: translateY(-50%);
}
.illust_wrap {
	width: 100%;
	/*background: radial-gradient(circle at 3% 100%, #828efb 20%, #c866e3 52%, #9b36b7);*/
	background: linear-gradient(#32cd32, transparent), linear-gradient(90deg, #D553EE, transparent), linear-gradient(-90deg, #4886FF, transparent);
	background-blend-mode: screen;
	overflow: hidden;
}
#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:-3;
	}
/* Hiding video controls 
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
	video::-webkit-media-controls {
	  display:none !important;
	}
.illust_wrap h1 {
	text-align: center;
	font-family: 'Shrikhand', cursive;
	font-size: 50px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.04em;
	/*text-shadow: 3px 3px 0px rgba(255,255,255, 0.5);*/
}
.illust_wrap .subtxt {
	text-align: center;
	margin: 10px 0px 10px 0px;
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	font-family: 'Noto Sans KR', sans-serif;
}
@media screen and (max-width: 660px) {
	.word {
	text-align: center;
	padding: 0px 20px;
	font-size: 12px;
	font-weight: 100;
	color: #ffffff;
	font-family: 'Noto Sans KR', sans-serif;
}
}
@media screen and (min-width: 660px) {
	.word {
	text-align: center;
	margin: 0 auto;
	width: 540px;
	font-size: 12px;
	font-weight: 100;
	color: #ffffff;
	font-family: 'Noto Sans KR', sans-serif;
}
}
.skills {
	padding: 0 20px;
	margin-top: 50px;
	display: flex;
	display: -webkit-flex; /* Safari 8 */
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; /* Safari 8 */
	justify-content: center;
	-webkit-justify-content: center; /* Safari 8 */
}
.skills .skills-tit {
	float: left;
	margin-top: 5px;
	background-color: #000000;
	padding: 11px 15px;
	color: #ffffff;
	margin-right: 5px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .06em;
}
.skills a {
	float: left;
	margin-top: 5px;
	background-color: transparent;
	border: 1px solid #ffffff;
	margin-right: 5px;
	padding: 9px 15px;
	color: #ffffff;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .03em;
}
.night_wrap {
	position: absolute;
	left: 45%;
	top: -30%;
}
.night {
	width: 130px;
	height: 130px;
	position: absolute;
}
.night .moon {
	position: absolute;
	top: 3%;
	left: 58%;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: rgba(255,226,135 ,1);
	box-shadow: 1px 1px 30px rgba(246,246,246 ,1);
}
.night .star_01 {
	position: absolute;
	top: 2%;
	left: 85%;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	background-color: #ffffff;
	animation: pulse 2s infinite;
}
@keyframes pulse {
 0% {
box-shadow: 0 0 0 0 rgba(246,246,226, 0.3);
}
 70% {
box-shadow: 0 0 0 5px rgba(246,246,226, 0);
}
 100% {
box-shadow: 0 0 0 0 rgba(246,246,226, .0);
}
}
.night .star_02 {
	position: absolute;
	top: 30%;
	left: 75%;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	background-color: #ffffff;
	animation: light 5s ease infinite;
}
.night .star_03 {
	position: absolute;
	top: 22%;
	left: 10%;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	background-color: #ffffff;
	animation: light 2s ease infinite;
}
.night .star_04 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	background-color: #ffffff;
	animation: light 2s ease infinite;
}
.night li {
	position: absolute;
	list-style: none;
	width: 1px;
	height: 1px;
	border-radius: 100%;
	background-color: #ffffff;
	transform: rotate(45deg);
	animation: light 3.3s ease infinite;
}
.night li:nth-child(1) {
	top: 29%;
	left: 65%;
}
.night li:nth-child(2) {
	top: 35%;
	left: 53%;
}
.night li:nth-child(3) {
	width: 2px;
	height: 2px;
}
.night li:nth-child(4) {
	top: 7%;
	left: 45%;
}
.night li:nth-child(5) {
	opacity: 0;
	top: 20%;
	left: 60%;
	width: 1px;
	height: 13px;
	animation: fallout 1.3s infinite linear;
}
.night li:nth-child(6) {
	opacity: 0;
	top: 2%;
	left: 18%;
	width: 2px;
	height: 2px;
	transform: rotate(20deg);
	animation: fallout_fix 3.2s infinite linear;
}
@keyframes fallout {
 15% {
opacity: 1;
}
 85% {
left: 10%;
top: 60%;
opacity: 0;
}
}
@keyframes fallout_fix {
 15% {
opacity: 1;
}
 85% {
left: 50%;
top: 60%;
opacity: 0;
}
}
@keyframes light {
 0%, 10% {
opacity: 0.2
}
 40%, 70% {
opacity: 1
}
 70%, 80%, 100% {
opacity: 0.2
}
}
.info_wrap {
	/*background-image: linear-gradient(50deg, #ffd524 80%, #fff 60%);*/
	background-color: #f8f4d5; 
	bottom: 0;
	position: fixed;
	top: 0;
	z-index: -1;
	color: #333333;
}
.timeline {
	position: relative;
	width: 660px;
	margin: 0 auto;
	padding: 5em 0 5em 0;
}
.timeline:before {
	position: absolute;
	left: 50%;
	top: 0;
	content: ' ';
	display: block;
	width: 1px;
	height: 100%;
	background: #333333;
	background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	z-index: 5;
}
.timeline li:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.direction-l {
	position: relative;
	width: 299px;
	float: left;
	text-align: right;
}
.direction-r {
	position: relative;
	width: 297px;
	float: right;
}
.flag-wrapper {
	position: relative;
}
.direction-r .flag-wrapper {
	margin-right: 1.5em;
}
.direction-l .flag-wrapper {
	margin-left: 1.5em;
}
.flag {
	position: relative;
	display: inline;
	padding: 6px 10px;
	font-weight: 500;
	text-align: left;
	color: #333333;
	font-family: 'Noto Sans KR', sans-serif;
}
.direction-l .flag:before, .direction-r .flag:before {
	position: absolute;
	top: 50%;
	right: -40px;
	content: ' ';
	display: block;
	width: 10px;
	height: 10px;
	margin-top: -10px;
	background: #f8f4d5;
	border-radius: 10px;
	border: 3px solid #333333;
	z-index: 10;
}
.direction-r .flag:before {
	left: -40px;
}
.time-wrapper {
	display: inline;
	font-size: 0.66666em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f8f4d5;
	vertical-align: middle;
	background-color: #333333;
	border-radius: 100px;
	padding: 0px 10px;
	/*opacity: 0.8;*/
}
.direction-l .time-wrapper {
	float: left;
}
.direction-r .time-wrapper {
	float: right;
}
.time {
	display: inline-block;
	padding: 3px 0;
}
.direction-r .position {
	padding: 10px 0 0 10px;
}
.direction-l .position {
	padding: 10px 10px 0 0;
}
.position {
	line-height: 1.4em;
}
.position .job {
	font-size: 1.5em;
	font-weight: 300;
}
.position .role {
	display: block;
	font-size: 1.5em;
	font-weight: 700;
}
.desc {
	margin: 1em 0.75em 0 1.5em;
	font-size: 0.77777em;
	line-height: 1.3em;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	/*opacity: 0.5;*/
}
.direction-r .desc {
	margin: 1em 1.5em 0 0.75em;
}

@media screen and (max-width: 660px) {
.timeline {
	width: 100%;
	padding: 4em 4em 4em 0;
}
.timeline li {
	padding: 2em 0;
}
.timeline:before {
	position: absolute;
	left: 1.4em;
	top: 0;
	content: ' ';
	display: block;
	width: 1px;
	height: 100%;
	margin-left: -3px;
	background: #333333;
	background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	z-index: 5;
}
.direction-l, .direction-r {
	float: none;
	width: 100%;
	text-align: left;
}
.flag-wrapper {
	margin: 1em 1em 0 1.5em;
	text-align: left;
}
.direction-r .position {
	padding: 0 0 0 0;
}
.direction-l .position {
	padding: 0 0 0 0;
}
.position {
	line-height: 1.4em;
	margin: 1em 1em 0 2em;
}
.flag {
	z-index: 15
}
.direction-l .flag:before, .direction-r .flag:before {
	position: absolute;
	left: -2%;
	content: ' ';
	display: block;
	width: 10px;
	height: 10px;
	margin-left: -9px;
	background: #f8f4d5;
	border-radius: 10px;
	border: 3px solid #333333;
	z-index: 10;
}
.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}
.direction-l .time-wrapper {
	float: right;
}
.direction-r .time-wrapper {
	float: right;
}
.time {
	display: inline-block;
}
.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	z-index: 15;
}
.direction-l .desc, .direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1.5em;
	padding: 1em;
	z-index: 15;
}
}
 @media screen and (min-width: 400px max-width: 660px) {
 .direction-l .desc, .direction-r .desc {
 margin: 1em 4em 0 4em;
}
}
.pic_wrap .fp-tableCell {
	vertical-align: top;
}
.pic_wrap .min ul {
	display: -ms-grid;
	display: grid;
 -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 120px;/*height: calc(100   - 100px) !important;*/
}
.pic_wrap .min li {
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.pic_wrap .min li .details {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 100%;
	padding: 45px 30px;
	box-sizing: border-box;
	transition: .5s;
}
.pic_wrap .min li.active .details {
	top: 0;
	left: 0;
	cursor: pointer;
}
.pic_wrap .min li .details h3 {
	color: #ffffff;
	text-align: center;
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}
.pic_wrap .min li .details p {
	margin: 10px 0 0 0;
	color: #ffffff;
	font-size: 12px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
}
#smoke {
	/*opacity: 0;*/
	/*transition: opacity 3s;*/
	position: absolute;
	z-index: 3;
	width: 1px;
	height: 160px;
	left: 50%;
	bottom: 47px;
	animation: fade 10s ease none;
}
@keyframes fade {
 0%, 15% {
opacity: 0
}
 45%, 100% {
opacity: 1
}
}
/*.show #smoke {
	opacity: 0;
	display: block;
	transition: opacity 3s ease;
}*/
#smoke span {
	position: absolute;
	bottom: -35px;
	left: 50%;
	margin-left: -20px;
	height: 0px;
	width: 0px;
	border: 35px solid #ffffff;
	border-radius: 35px;
	left: -14px;
	opacity: 0;
	transform: scale(0.2) translate(0, 0);
}
@keyframes smokeL {
 0% {
transform: scale(0.1) translate(0, 0)
}
 10% {
opacity: 1;
transform: scale(0.2) translate(0, -6px)
}
 100% {
opacity: 0;
transform: scale(1) translate(-20px, -130px)
}
}
@keyframes smokeR {
 0% {
opacity: 0;
transform: scale(0.0) translate(0, 0)
}
 10% {
opacity: 1;
transform: scale(0.1) translate(0, -5px)
}
 100% {
opacity: 0;
transform: scale(1) translate(20px, -130px)
}
}
#smoke .s0 {
	animation: smokeL 10s 0s infinite
}
#smoke .s1 {
	animation: smokeR 10s 1s infinite
}
#smoke .s2 {
	animation: smokeL 10s 2s infinite
}
#smoke .s3 {
	animation: smokeR 10s 3s infinite
}
#smoke .s4 {
	animation: smokeL 10s 4s infinite
}
#smoke .s5 {
	animation: smokeR 10s 5s infinite
}
#smoke .s6 {
	animation: smokeL 10s 6s infinite
}
#smoke .s7 {
	animation: smokeR 10s 7s infinite
}
#smoke .s8 {
	animation: smokeL 10s 8s infinite
}
#smoke .s9 {
	animation: smokeR 10s 9s infinite
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
#footer.no_margin {
	margin-top: 0;
}
#footer .btn_area {
	padding: 20px 0;
}
#footer .btn_area .set {
	margin-top: 3px
}
#footer .btn_area a {
	color: #999999;
	font-size: 13px;
	line-height: 12px;
    display: inline-block  pointer: cursor;
}
#footer .btn_area .btn_t1 {
	border: 1px solid #cccccc;
	color: #ffffff;
	padding: 6px 11px;
	line-height: 13px;
	margin-left: 5px;
	font-size: 13px;
	vertical-align: top;
}
.a #footer .btn_area .btn_t1 {
	padding: 7px 11px 5px;
}
#footer .btn_area .btn_t1:first-child {
	margin-left: 0;
}
#footer .btn_area .btn_t2 {
	padding: 8px 10px 7px 8px;
}
#footer .btn_area .btn_t2:first-child {
	padding-right: 0;
}
#footer .btn_area .btn_t2:first-child span {
	display: inline-block;
	border-right: 1px solid #999999;
	line-height: 12px;
	padding-right: 8px;
}

.loader_wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #000000;
    opacity: 0.7;
}

.loader_wrap .load {
	z-index: 999999;
	position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%);
}
.load .loading {
	display: block;
	margin: auto;
	width: 32px;
	height: 32px;
}
.load .load_message {
	font-size: 12px;
	letter-spacing: -1px;
	font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.writing_wrap {
	z-index: 1;
	background: #000000;
	position: relative;
}
.writing_wrap .container {
	z-index: 2;
	width: 335px;
	margin:0 auto;
}
.writing_wrap .container h1 {
	font-size: 2em;
	font-weight: 400;
	line-height: 1em;
	margin: 20px 20px;
	font-family: "Song Myung";
	background-image: linear-gradient(to left, #d500ff, #ff005a, #d500ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: bg 10s linear infinite;
	text-align: left;
}
@keyframes bg {
 0% {
background-position-x: 0;
}
 100% {
background-position-x: 10000px;
}
}
.writing_wrap .container p {
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #ffffff;
	margin-top: 1em;
	margin-bottom: 1em;
	/*margin-left: 20px;*/
}
.writing_wrap .container .writing_info {padding-left: 20px;}
.writing_info .bar_w {
	width: 1px;
	height: 30px;
	background-color: #ffffff;
	margin-left: 8px;
}
.writing_info .comment{
	/*padding: 20px 20px;*/
	font-size: 1em;
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -0.5px;
	color: #ffffff;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0px;
	text-align: center;
}