@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* default CSS */
* { -webkit-text-size-adjust: none; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {display: block;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
a:link {color: #fff; text-decoration: none; }
a:visited {color: #fff; text-decoration: none; }
a:hover {color: #fff;  text-decoration: none; }
a:active {color: #fff; text-decoration: none; }
a:focus {color: #fff; text-decoration: none; }
select, input, textarea {font-size: 100%; vertical-align: middle;}
input {margin: 0; padding: 0;}
ol, ul {list-style: none;}
hr {clear: both; display: none;}
label {cursor: pointer;}
legend, caption {width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;}
.hidden {position: absolute; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;}
button {cursor: pointer;}
button:focus {outline: 1px dotted;}
img {max-width: 100%; height: auto; vertical-align: top;}
a, input, button {-webkit-tap-highlight-color: rgba(0,0,0,0);}
hr, img {border: 0;}
/* default CSS */

/* CSS */
html, body { height: 100%;}

.info_area dl {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.info_area dd {
    -webkit-animation: fadein 5.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5.5s; /* Firefox < 16 */
        -ms-animation: fadein 5.5s; /* Internet Explorer */
         -o-animation: fadein 5.5s; /* Opera < 12.1 */
            animation: fadein 5.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#drawing {
	width: 100%; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap; 
	position: relative;
}

#drawing h3 {color: #000;}

@media screen and (min-width:769px) {
	#drawing {
		margin-bottom: 10%;
	}
}

@media screen and (max-width:768px) {
	#drawing:nth-last-child(2n){
		margin-bottom: 120px;
	}
}

@media screen and (min-width: 769px) {
	#drawing .entry {
		width: 25%;
		position: relative;
	}
}

@media screen and (max-width:768px) {
	#drawing .entry {
		width: 50%;
		margin-bottom: 56px;
	}
}

#drawing .entry a {
	height: 100%;
	overflow: hidden;
	display: block;
	background-color: #fff;
}

#drawing .entry .img {
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;
	padding-top: 66.6666%;
}

@media screen and (max-width:768px) {
	#drawing .entry .img {
		margin-bottom: 20px;
	}
}

#drawing .entry .img img {
	width: auto;
	min-width: 100%; 
	height: auto;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,1px);
	transform: translate3d(-50%,-50%,1px);
}

@media screen and (min-width:769px) {
	#drawing .entry h3 {
		padding: 22px 25px 12px;
	}
}

@media screen and (max-width:768px) {
	#drawing .entry h3 {
		overflow: hidden;
		padding: 0 6.66667vw;
		line-height: 1.6;
		font-size: 12px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
}

#drawing .entry .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display:flex;
}

#drawing .entry .info li {
	line-height: 1;
	margin-right: 2px;
	color: #999;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	letter-spacing: .02em;}

#drawing .entry .info li.cate {
	border: 1px solid #ccc;
	border-radius: 3px;
}

#drawing .entry .info li.date {margin-left:2px;}

@media screen and (min-width:769px){
	#drawing .entry .info {
		margin: 0 25px 25px;
	}
	#drawing .entry .info li {
		padding: 2px 2px 1px;
	}
	#drawing .entry .info li.cate {
		font-size: 10px;
	}
	#drawing .entry .info li.date {
		font-size: 12px;
	}
}

@media screen and (max-width:768px){
	#drawing .entry .info {
		margin: 15px 6.66667vw 0;
	}
	#drawing .entry .info li {
		padding: 2px;
	}
	#drawing .entry .info li.cate {
		font-size: 8px;
	}
	#drawing .entry .info li.date {
		font-size: 10px;
	}
}

@media screen and (min-width:769px){
	#drawing .entry:first-of-type {
		z-index: 14;
	}
	#drawing .entry:nth-of-type(2) {
		z-index: 13;
	}
	#drawing .entry:nth-of-type(3) {
		z-index: 12;
	}
	#drawing .entry:nth-of-type(4) {
		z-index: 11;
	}
	#drawing .entry a {
		transition: all .22s cubic-bezier(.25,.46,.45,.94);
	}
	#drawing .entry:hover {
		z-index: 15;
	}
	#drawing .entry:hover a {
		box-shadow: 12px 21px 36px 0 rgba(0,0,0,.15);
		-webkit-transform: translate3d(0,-15px,1px);
		transform: translate3d(0,-15px,1px);
	}
}

#drawing .scroll_set.entry .img:after,#drawing .scroll_set.entry .img:before {
	content: ""; 
	width: 100%; 
	height: 100%; 
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transition-property: width;
	transition-duration: .75s;
	transition-timing-function: cubic-bezier(.86,0,.07,1);
}


#drawing .scroll_set.entry .img:before {
	background-color: h sla(0,0%,100%,.6);
	z-index: 2;
	transition-delay: .85s;
}

#drawing .scroll_set.entry .img:after {
	background-color: #fff;
	z-index: 3;
	transition-delay: .15s;
}

#drawing .scroll_start.entry .img:after,#drawing .scroll_start.entry .img:before {width: 0;}



#wrap {position: relative; width: 100%; min-height: 100%; box-sizing: border-box;}

#top_wrap {
	width: 100%; 
	overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #B94FC1;
	height: 100vh;
    margin-bottom: 10%;
	position: relative;
	z-index: -7;
}

@media screen and (min-width: 769px) #top_wrap {
    height: 100vh;
    margin-bottom: 10%;
}
#sign_arap {padding: 20px 20px;}
#sign_arap .sign {width: 50px; height: 50px; position: fixed; box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2); border-radius: 50%; z-index: 9;}
#sign_arap .profile_area {width: 100%; clear: both; letter-spacing: -0.5px;  margin: 150px 0px;}
#sign_arap .profile_area h2 {font-family: 'Lobster', cursive; font-size: 65px; font-weight: bold; color: #fff; text-shadow:  -3px -3px 0px rgba(31,200,35, 1.0);}
#sign_arap .profile_area .subtxt {margin: 10px 0px 0px 0px; font-size: 20px; font-weight: lighter;  color: #fff; font-family: 'Noto Sans KR', sans-serif;}
#sign_arap .profile_area .word {margin: 20px 0px 0px 0px; font-size: 12px; font-weight: lighter;  color: #fff; font-family: 'Noto Sans KR', sans-serif; font-style: italic; opacity: 0.5;}

.gradient {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	content: ""; 
	z-index: -5;
}
 .gradient.one { 
	background-image: 
		linear-gradient(to bottom, #5856D6 0%, #C644FC 100%);
}
.gradient.two { 
	background-image: linear-gradient(to bottom, #C643FC 0%, #FF5F37 100%); 
	display:none; 
}


#info_wrap {width: 100%; height: 100%; clear: both; padding: 0px 10px; }
.info_area {width: 100%;  height: 100%; margin-bottom: 10%; float: left; letter-spacing: -0.5px; color: #000; font-family: 'Noto Sans KR', sans-serif; }
.info_area dl {float: left;  height: 134px; text-align: left;}
.info_area dl dd .day {color: #000; font-size: 9px;}
.info_area dl dd .link {color: #000;}
.info_area dl.list {margin-right: 2%;}
.info_area dl:nth-of-type(3n) {margin-right: 0;}
.info_area dt.txt {font-size: 15px; font-weight: bold; margin-bottom: 10px; }
.info_area .t1 {font-size: 12px; font-weight: 300;}


#footer {
	width: 100%;
    position: relative;
	text-align: center;
    background-color: #fff;
    z-index: 1; 
	clear: both; 
	color: #000; 
	font-family: 'Noto Sans KR', sans-serif; 
	font-size: 12px; 
	font-weight: bold;
	margin-bottom: 10px;}